[submodule "src/main/resources/cva6/core"]
	path = src/main/resources/cva6/core
	url = https://github.com/openhwgroup/cva6
[submodule "src/main/resources/ibex/core"]
	path = src/main/resources/ibex/core
	url = https://github.com/lowRISC/ibex
[submodule "src/main/resources/cva6/cva6"]
	path = src/main/resources/cva6/cva6
	url = https://github.com/openhwgroup/cva6
[submodule "src/main/resources/hazard3/core"]
	path = src/main/resources/hazard3/core
	url = https://github.com/Wren6991/Hazard3.git
[submodule "src/main/resources/fwrisc-test/core"]
	path = src/main/resources/fwrisc-test/core
	url = https://github.com/featherweight-ip/fwrisc.git
[submodule "src/main/resources/cv32e40p-test/core"]
	path = src/main/resources/cv32e40p-test/core
	url = https://github.com/openhwgroup/cv32e40p.git
[submodule "src/main/resources/cv32e40s-test/core"]
	path = src/main/resources/cv32e40s-test/core
	url = https://github.com/openhwgroup/cv32e40s.git
